@charset "utf-8";
/*----------------------------------------------------------------css reset start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big , cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;	
	border:none;
	outline:0;	
	font:normal normal 100%/120%;
	/*color:#000;*/
	/*text-align:left;*/
	/*text-decoration:none;*/
	vertical-align:baseline;
	font-size:100%;
	border-collapse:collapse;
}

p{
	line-height:1.5em;
	padding:5px;
	}

/* remember to define focus styles! */
:focus {
	outline:0;
	outline:none;
	}
a:active {
	outline:none;
	outline:0;
}
ol, ul, li, dt, dd{
	list-style:none;}
	
blockquote:before,
blockquote:after,
q:before,
q:after {
	content:"";}
blockquote, q {
	quotes:"" "";}
/*----------------------------------------------------------------css reset end*/
